!!!
%html.no-js{:lang =>  I18n.locale}
  %head
    %meta{charset: "utf-8"}/
    %title= yield_content(:title) || I18n.t(:title)
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:name => "description", :content => yield_content(:description) || I18n.t(:description)}/
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %link{href: "//ajax.googleapis.com", rel: "dns-prefetch"}/
    %link{href: "./css/styles.css", rel: "stylesheet"}/
  %body{:class => page_classes}
    %header.header{role: "banner"}
      .logo
        Patterns Browsers
      %nav
        %label
          %span.label Library
          %select#library-selector
            %option{value: "subtlepatterns", selected: "selected"} Subtle Patterns
            %option{value: "subtlepatterns-transparent"} Subtle Patterns - Transparent

        %label
          %span.label Layout
          %select#layout-selector
            %option{value: "grid", selected: "selected"} Grid
            %option{value: "bg"} Fullscreen

        %label.is-hidden
          %span.label Pattern
          %select#patterns-selector
            %option Downloading Pattern List…

        %label
          %span.label Body Background-Color
          %input#bgcolor-selector{class: "color {onImmediateChange:'updateBodyBgColorInfo(this);',pickerPosition:'top'}"}

    %main.main{role: "main"}
      = yield
    %footer.footer{role: "contentinfo"}
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "./js/jquery-ajax-localstorage-cache.js"}
    %script{src: "./js/jscolor/jscolor.js"}
    %script{src: "./js/scripts.js"}
